*
{
	margin: 0;
	padding: 0;
	text-align: center;
}

body
{
	border: 1px solid;
}

header
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.header_block_1
{
	
	border-right: 1px solid #5b9bd5;
	width: 150px;
	height: 170px;
}

.header_block_2
{
	flex-grow: 1;
	height: 170px;
}

.header_block_3
{
	border-left: 1px solid #5b9bd5;
	width: 150px;
	height: 170px;
}

section
{
	border-top: 1px solid #5b9bd5;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.main_1
{
	border-right: 1px solid #5b9bd5;
	width: 50%;
	height: 250px;
}

.main_1_block1
{
	border-bottom: 1px solid #5b9bd5;
	display: flex;
	height: 70px;
}

.main_1_block1_inside1
{	
	border-right: 1px solid #5b9bd5;
	width: 60%;
}

.main_1_block1_inside2
{
	width: 40%;
}

.main_2
{
	width: 50%;
	height: 250px;
}

@media (max-width: 1024px) and (min-width: 768px){
	
	.header_block_3
	{
		display: none;
	}

}

@media (max-width: 768px) {

	header
	{
		flex-direction: column;
		height: inherit;
	}

	.header_block_1
	{
		width: 100%;
		height: 100px;
		border-right: none;
	}

	.header_block_2
	{
		border-top: 1px solid #5b9bd5;
		width: 100%;
		height: 100px;
	}

	.header_block_3
	{
		border-top: 1px solid #5b9bd5;
		border-left: none;
		display: block;
		width: 100%;
		height: 100px;
	}

	section
	{
		flex-direction: column;
	}

	.main_2
	{
		width: 100%;
		border-top: 1px solid #5b9bd5;
	}
	
	.main_1
	{
		flex-direction: column;
		width: 100%;
		border-right: none;
	}

	.main_1_block1
	{
		height: 50%;
		flex-direction: column;
		justify-content: space-between;
	}

	.main_1_block1_inside1
	{
    	width: 100%;
    	height: 50%;
    	border-right: none;
	}

	.main_1_block1_inside2
	{
		width: 100%;
    	border-top: 1px solid #5b9bd5;
    	height: 50%;
	}
	
	.main_1_block2
	{
		height: 50%;
	}
}

